@font-face {
  font-family: Squared-Display;
  src: url('fonts/Squared-Display.ttf');
}

@font-face {
  font-family: JosefinSans-Regular;
  src: url('fonts/JosefinSans-Regular.ttf');
}

@font-face {
  font-family: JosefinSans-Light;
  src: url('fonts/JosefinSans-Light.ttf');
}

@font-face {
  font-family: Amaranth-Regular;
  src: url('fonts/Amaranth-Regular.otf');
}

@font-face {
  font-family: Amaranth-Bold;
  src: url('fonts/Amaranth-Bold.otf');
}

@font-face {
  font-family: Sansation-Regular;
  src: url('fonts/Sansation_Regular.ttf');
}

@font-face {
  font-family: Sansation-Bold;
  src: url('fonts/Sansation_Bold.ttf');
}

@font-face {
  font-family: Sansation-Light;
  src: url('fonts/Sansation_Light.ttf');
}

body {
  background-image: url('img/wallpaper_site_photus.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}


.fmr-login {
 display: block;
  position: relative;
  width: 300px;
  margin: 0px auto;
  top: -20px;
  
  }

input[type="email"],
input[type="password"] {
  width: 100%;
  height: 50px;
  font-family: Amaranth-Regular;
  font-size: 16px;
  color: #ffffff;
}

.submit{
  width: 300px;
  height: 50px;
  font-family: JosefinSans-Regular;
  font-size: 24px;
  color: #ffffff;
  background-color: #070438;
  border: none;
}

.submit:hover{
  background-color:#ffffff;
  color: #070438;
  transition:0.5s;
}

label,
input[type="email"],
input[type="password"] {
  font-family: JosefinSans-Regular;
  font-size: 24px;
}

label {
  color: #ffffff;
  text-decoration: bold;
  text-shadow:black 0.1em 0.1em 0.2em;
}

input[type="email"],
input[type="password"] {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  border-bottom: 3px solid #070438;
  width: 300px;
}

.container {
  position: relative;
  display: block;
  margin: auto;

}

.d-login {
  width: 300px;
  margin: 100px auto;
  display: block;
}

.d-login input:hover{
  border-bottom: 3px solid #ffffff;
  transition:0.5s;
}

.d-login input:focus{
  border-bottom: 3px solid #ffffff;
}


.header {
  font-family: Squared-Display, sans-serif;
  font-size: 100px;
  color: #ffffff;
  text-align: center;
  text-shadow:black 0.1em 0.1em 0.2em;
}

.header-painel {
  background: #070438;
  height: 90px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
  width: 100%;
  padding-left: 10px;
}

.painel {
  position: relative;
}

.p-grafico {
  position: absolute;
  top: 100px;
  left: 25%;
}

.t-painel {
  font-family: Sansation-Regular;
  font-size: 36px;
}

.t-texto-painel {
  font-family: Sansation-Regular;
  font-size: 14px;
  font-weight: bold;
}

.texto-painel {
  font-family: Sansation-Light;
  font-size: 14px;
  font-weight: bold;
}